nav,
.content {
  display: flex;
}
nav a,
.content > div {
  box-sizing: border-box;
  padding: 0.2%;
  width: 33.33%;
}

@media screen and (max-width: 39.99em){
  nav a {
    border-bottom: 2px solid gray;
    color: black;
    display: inline-block;
    padding: 1em;
    text-align: center;
  }
  .active{
    border-bottom: 5px solid gray;
    font-weight: bold;
  }
  .content-wrapper{
    width: 100%;
    overflow: hidden;
    }
  .content{
    padding: 0.5em 0;
    width: 300%;
  }
}

@media screen and (min-width: 40em){
  nav {
    display: none;
  }
}
